@model PingPal.Models.Users.UserModel
@{
    ViewData["Title"] = "Создание пользователя";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>

@using (Html.BeginForm("Create", "Users", FormMethod.Post))
{
    <div class="form-container" style="max-width: 600px; margin: auto;">
        <div class="form-group">
            <label asp-for="Name" class="control-label">@Html.DisplayNameFor(model => model.Name):</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label">@Html.DisplayNameFor(model => model.CurrentPassword):</label>
            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" })
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">@Html.DisplayNameFor(model => model.NewPassword):</label>
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group form-check">
            <input class="form-check-input" asp-for="HasAdminRole" />
            <label class="form-check-label" for="@Html.IdFor(model => model.HasAdminRole)">
                @Html.DisplayNameFor(model => model.HasAdminRole)
            </label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="width: 200px;">
                <i class="fa fa-floppy-o"></i> Сохранить
            </button>
            <br />
        </div>
    </div>
}
