@using PingPal.Extensions
@using PingPal.Models.Users
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PingPal.Models.Users.UsersIndexModel
@{
    ViewData["Title"] = "Пользователи";
}

<style>
    table, th, td {
        place-content: center;
    }
</style>

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>

<a asp-action="Create" class="btn btn-sm btn-primary" style="margin-top: 5px; width: 160px;"><i class="fa fa-plus"></i> Создать</a>

@using (Html.BeginForm("Index", "Users", FormMethod.Get, new { onsubmit = "formGetRedirect(event);" }))
{
    <table>
        <tr>
            <td class="align-content-end">
                <label asp-for="SearchString">@Html.DisplayNameFor(model => model.SearchString):</label>
                <input asp-for="SearchString" class="form-control" />
            </td>
            <td class="align-content-end">
                <button type="submit" class="btn btn-sm btn-success" style="width: 100px; line-height: 2;"><i class="fa fa-search"></i> Поиск</button>
            </td>
            <td class="align-content-end">
                <a asp-action="Index" class="btn btn-sm btn-default" style="width: 100px; line-height: 2;"><i class="fa fa-times"></i> Сбросить</a>
            </td>
        </tr>
    </table>
}

<table class="table table-hover">
    <thead>
    <tr>
        <th style="width: 25%;">@Html.DisplaySortColumnTitle(Context, Model.SortBy, nameof(UserModel.Id), model => model.Users.First().Id, true)</th>
        <th style="width: 25%;">@Html.DisplaySortColumnTitle(Context, Model.SortBy, nameof(UserModel.Login), model => model.Users.First().Login)</th>
        <th style="width: 25%;">Роли</th>
        <th style="width: 25%;" />
    </tr>
    </thead>
</table>

@Html.DisplayPagination(Context, Model)